<form #i="ngForm" (ngSubmit)="onSubmit(i)">
  <div class="form-group">
    <h3>Meio de transporte</h3>
    <input type="radio" name="mode" value="walk" id="pedestre" ngModel>&nbsp;
    <label for="pedestre">Pedestre</label><br>
    <input type="radio" name="mode" id="bicycle" value="bicycle" ngModel>&nbsp;
    <label for="bicycle">Bicicleta</label><br>
    <input type="radio" name="mode" id="car" value="drive" ngModel>&nbsp;
    <label for="car">Carro</label><br><br>
    <!-- <h3>Habilitar Transito?</h3>
    <input type="checkbox" name="traffic" id="traffic">&nbsp;
    <label for="traffic">Trânsito</label><br><br> -->
    <h3>Tempo ou distância?</h3>
    <input type="radio" name="type" id="time" value="time" [(ngModel)]="type">&nbsp;
    <label for="time">Tempo</label><br>
    <input type="radio" name="type" id="distance" value="distance" [(ngModel)]="type">&nbsp;
    <label for="distance">Distancia</label><br><br>
    <h3>Alcance (Tempo: s, Distancia: m)</h3>
    <div *ngIf="type==='time'"><mat-slider name="range" min="1" max="900" step="1" style="width: 80%;" [(ngModel)]="range"></mat-slider>&nbsp;{{range/360}} horas</div>
    <div *ngIf="type==='distance'"><mat-slider name="range" min="1" max="10000" step="1" style="width: 80%;" [(ngModel)]="range"></mat-slider>&nbsp;{{range/1000}} Km</div>
    <button mat-raised-button type="submit" color="primary">Calcular isócrona</button>
  </div>

</form>
